// main colors
$white: #ffffff;
$black: #000000;
$gray: #f0f1f6; 
$dkGray: #303030;
$ltGray: #cecece;

// primary colors 
$cayan: #2acfcf;
$dark_violet: #3b3054;

// secondary colors 
$red:#f46262; 

// natural colors 
$grayish_violet: #9e9aa7;
$very_dark_blue: #35323e;
$very_dark_violet:#232127; 

